#bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; }
  #bg canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
	
.playintro-animation{ 
	position:absolute; 
	left:0; top:0; 
	height:100%; 
	width:100%; 
	/*border:5px solid #fff;*/ 
}	
	
	
.la-timer,
.la-timer > div {
    position: relative;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
.la-timer {
    display: block;
    font-size: 0;
    color: #fff;
}
.la-timer.la-dark {
    color: #333;
}
.la-timer > div {
    display: inline-block;
    float: none;
    background-color: currentColor;
    border: 0 solid currentColor;
}
.la-timer {
    width: 32px;
    height: 32px;
}
.la-timer > div {
    width: 32px;
    height: 32px;
    background: transparent;
    border-width: 2px;
    border-radius: 100%;
}
.la-timer > div:before,
.la-timer > div:after {
    position: absolute;
    top: 14px;
    left: 14px;
    display: block;
    width: 2px;
    margin-top: -1px;
    margin-left: -1px;
    content: "";
    background: currentColor;
    border-radius: 2px;
    -webkit-transform-origin: 1px 1px 0;
       -moz-transform-origin: 1px 1px 0;
        -ms-transform-origin: 1px 1px 0;
         -o-transform-origin: 1px 1px 0;
            transform-origin: 1px 1px 0;
    -webkit-animation: timer-loader 1250ms infinite linear;
       -moz-animation: timer-loader 1250ms infinite linear;
         -o-animation: timer-loader 1250ms infinite linear;
            animation: timer-loader 1250ms infinite linear;
    -webkit-animation-delay: -625ms;
       -moz-animation-delay: -625ms;
         -o-animation-delay: -625ms;
            animation-delay: -625ms;
}
.la-timer > div:before {
    height: 12px;
}
.la-timer > div:after {
    height: 8px;
    -webkit-animation-duration: 15s;
       -moz-animation-duration: 15s;
         -o-animation-duration: 15s;
            animation-duration: 15s;
    -webkit-animation-delay: -7.5s;
       -moz-animation-delay: -7.5s;
         -o-animation-delay: -7.5s;
            animation-delay: -7.5s;
}
.la-timer.la-sm {
    width: 16px;
    height: 16px;
}
.la-timer.la-sm > div {
    width: 16px;
    height: 16px;
    border-width: 1px;
}
.la-timer.la-sm > div:before,
.la-timer.la-sm > div:after {
    top: 7px;
    left: 7px;
    width: 1px;
    margin-top: -.5px;
    margin-left: -.5px;
    border-radius: 1px;
    -webkit-transform-origin: .5px .5px 0;
       -moz-transform-origin: .5px .5px 0;
        -ms-transform-origin: .5px .5px 0;
         -o-transform-origin: .5px .5px 0;
            transform-origin: .5px .5px 0;
}
.la-timer.la-sm > div:before {
    height: 6px;
}
.la-timer.la-sm > div:after {
    height: 4px;
}
.la-timer.la-2x {
    width: 64px;
    height: 64px;
}
.la-timer.la-2x > div {
    width: 64px;
    height: 64px;
    border-width: 4px;
}
.la-timer.la-2x > div:before,
.la-timer.la-2x > div:after {
    top: 28px;
    left: 28px;
    width: 4px;
    margin-top: -2px;
    margin-left: -2px;
    border-radius: 4px;
    -webkit-transform-origin: 2px 2px 0;
       -moz-transform-origin: 2px 2px 0;
        -ms-transform-origin: 2px 2px 0;
         -o-transform-origin: 2px 2px 0;
            transform-origin: 2px 2px 0;
}
.la-timer.la-2x > div:before {
    height: 24px;
}
.la-timer.la-2x > div:after {
    height: 16px;
}
.la-timer.la-3x {
    width: 96px;
    height: 96px;
}
.la-timer.la-3x > div {
    width: 96px;
    height: 96px;
    border-width: 6px;
}
.la-timer.la-3x > div:before,
.la-timer.la-3x > div:after {
    top: 42px;
    left: 42px;
    width: 6px;
    margin-top: -3px;
    margin-left: -3px;
    border-radius: 6px;
    -webkit-transform-origin: 3px 3px 0;
       -moz-transform-origin: 3px 3px 0;
        -ms-transform-origin: 3px 3px 0;
         -o-transform-origin: 3px 3px 0;
            transform-origin: 3px 3px 0;
}
.la-timer.la-3x > div:before {
    height: 36px;
}
.la-timer.la-3x > div:after {
    height: 24px;
}
/*
 * Animation
 */
@-webkit-keyframes timer-loader {
    0% {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}
@-moz-keyframes timer-loader {
    0% {
        -moz-transform: rotate(0deg);
             transform: rotate(0deg);
    }
    100% {
        -moz-transform: rotate(360deg);
             transform: rotate(360deg);
    }
}
@-o-keyframes timer-loader {
    0% {
        -o-transform: rotate(0deg);
           transform: rotate(0deg);
    }
    100% {
        -o-transform: rotate(360deg);
           transform: rotate(360deg);
    }
}
@keyframes timer-loader {
    0% {
        -webkit-transform: rotate(0deg);
           -moz-transform: rotate(0deg);
             -o-transform: rotate(0deg);
                transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
           -moz-transform: rotate(360deg);
             -o-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}	

/* ------------------------------------- */
/* VARIANT STAR WARS ................... */
/* ------------------------------------- */
#starfield {
  position: fixed !important; }

/* ------------------------------------- */
/* VARIANT CONSTELLATION ............... */
/* ------------------------------------- */
#constellationel,
#constellatione2,
#constellatione3,
#constellatione4,
#constellatione5,
#constellatione6,
#constellatione7,
#constellatione8 {
  z-index: -1;
  left: 0;
  top: 0;
  position: absolute; 
  /*height:100%;
  width:100%;*/
}
/* 
#constellationel1 {
  z-index: -1;
  left: 0;
  top: 0;
  position: absolute; width:100%; height:100%;  } 
 */ 

#constellation {
  position: absolute;
  z-index: -2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
  
  
  .tm-heroslider-inner {
  /*background: -webkit-linear-gradient(90deg, #1976D2 0%, #03A9F4 100%);
  background: -moz-linear-gradient(90deg, #1976D2 0%, #03A9F4 100%);
  background: -ms-linear-gradient(90deg, #1976D2 0%, #03A9F4 100%);
  background: -o-linear-gradient(90deg, #1976D2 0%, #03A9F4 100%);
  background: -webkit-gradient(linear, left top, right top, from(#1976D2), to(#03A9F4));
  background: -webkit-linear-gradient(left, #1976D2 0%, #03A9F4 100%);
  background: -o-linear-gradient(left, #1976D2 0%, #03A9F4 100%);
  background: linear-gradient(90deg, #1976D2 0%, #03A9F4 100%);*/
  background: radial-gradient(circle at 24.1% 68.8%, rgb(0, 0, 0) 30%, rgb(50, 50, 50) 99.4%);
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  z-index: 1;
}



@-webkit-keyframes growShrink1 {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0.8;
  }
  30% {
    -webkit-transform: scale(1.8);
    transform: scale(1.8);
    opacity: 0.5;
  }
  90% {
    -webkit-transform: scale(1.8);
    transform: scale(1.8);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0;
  }
}

@keyframes growShrink1 {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0.8;
  }
  30% {
    -webkit-transform: scale(1.8);
    transform: scale(1.8);
    opacity: 0.5;
  }
  90% {
    -webkit-transform: scale(1.8);
    transform: scale(1.8);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0;
  }
}


@keyframes growShrink2 {
  0% {
    -webkit-transform: scale(2.4);
    transform: scale(2.4);
    opacity: 0.5;
  }
  30% {
    -webkit-transform: scale(2.4);
    transform: scale(2.4);
    opacity: 0.5;
  }
  90% {
    -webkit-transform: scale(2.4);
    transform: scale(2.4);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: scale(2.4);
    transform: scale(2.4);
    opacity: 0.5;
  }
}

@keyframes growShrink3 {
  0% {
    -webkit-transform: scale(3);
    transform: scale(3);
    opacity: 0.4;
  }
  30% {
    -webkit-transform: scale(3);
    transform: scale(3);
    opacity: 0.4;
  }
  90% {
    -webkit-transform: scale(3);
    transform: scale(3);
    opacity: 0.4;
  }
  100% {
    -webkit-transform: scale(3);
    transform: scale(3);
    opacity: 0.4;
  }
}


.tm-heroslider-mobileshowanim span:nth-child(1) {
  z-index: 3;
  background: -webkit-linear-gradient(270deg, #222 0%, #222 100%);
  background: -moz-linear-gradient(270deg, #222 0%, #222 100%);
  background: -ms-linear-gradient(270deg, #222 0%, #222 100%);
  background: -o-linear-gradient(270deg, #222 0%, #222 100%);
  background: -webkit-gradient(linear, right top, left top, from(#222), to(#222));
  background: -webkit-linear-gradient(right, #222 0%, #222 100%);
  background: -o-linear-gradient(right, #222 0%, #222 100%);
  background: linear-gradient(270deg, #222 0%, #222 100%);
  -webkit-animation: growShrink1 9s ease-in-out 0s infinite both;
  animation: growShrink1 9s ease-in-out 0s infinite both;
}

.tm-heroslider-mobileshowanim span:nth-child(2) {
  z-index: 2;
  background: -webkit-linear-gradient(90deg, #222 0%, #111 100%);
  background: -moz-linear-gradient(90deg, #222 0%, #111 100%);
  background: -ms-linear-gradient(90deg, #222 0%, #111 100%);
  background: -o-linear-gradient(90deg, #222 0%, #111 100%);
  background: -webkit-gradient(linear, left top, right top, from(#222), to(#111));
  background: -webkit-linear-gradient(left, #222 0%, #111 100%);
  background: -o-linear-gradient(left, #222 0%, #111 100%);
  background: linear-gradient(90deg, #222 0%, #111 100%);
  -webkit-animation: growShrink2 9s ease-in-out 0.2s infinite both;
  animation: growShrink2 9s ease-in-out 0.2s infinite both;/**/
}

.tm-heroslider-mobileshowanim span:nth-child(3) {
  z-index: 1;
  background: -webkit-linear-gradient(270deg, #222 0%, #111 100%);
  background: -moz-linear-gradient(270deg, #222 0%, #111 100%);
  background: -ms-linear-gradient(270deg, #222 0%, #111 100%);
  background: -o-linear-gradient(270deg, #222 0%, #111 100%);
  background: -webkit-gradient(linear, right top, left top, from(#222), to(#111));
  background: -webkit-linear-gradient(right, #222 0%, #111 100%);
  background: -o-linear-gradient(right, #222 0%, #111 100%);
  background: linear-gradient(270deg, #222 0%, #111 100%);
  -webkit-animation: growShrink3 9s ease-in-out 0.4s infinite both;
  animation: growShrink3 9s ease-in-out 0.4s infinite both;
  
}

.tm-heroslider-mobileshowanim span:nth-child(4) {
  z-index: 2;
  background: linear-gradient(270deg, #222 100%, #111 100%);
  
     -webkit-animation: rotateCircle infinite 35s linear;
    animation: tm-rotate rotateCircle 35s linear;
    -webkit-animation-fill-mode: forwards; 
  border: 2px dashed #68F29A;
}

.tm-header::before {
	background: rgba(0, 0, 0, 0.8);
}


.tm-heroslider-content h1 {
    color:#0bda51;
	text-transform:uppercase;
}

.tm-button.tm-button-grn::after, 
a.tm-button.tm-button-grn::after, 
button.tm-button.tm-button-grn::after,
.tm-button.tm-button-grn::before, 
a.tm-button.tm-button-grn::before, 
button.tm-button.tm-button-grn::before,
.tm-button.tm-button-blu::after, 
a.tm-button.tm-button-blu::after, 
button.tm-button.tm-button-blu::after,
.tm-button.tm-button-blu::before, 
a.tm-button.tm-button-blu::before, 
button.tm-button.tm-button-blu::before {
    background: none;
}

.tm-button.tm-button-grn.tm-button-transparent, 
a.tm-button.tm-button-grn.tm-button-transparent, 
button.tm-button.tm-button-grn.tm-button-transparent {
    border: 2px solid #68F29A;
    background: transparent;
    color: #68F29A;
}

.tm-button.tm-button-blu.tm-button-transparent, 
a.tm-button.tm-button-blu.tm-button-transparent, 
button.tm-button.tm-button-blu.tm-button-transparent {
    border: 2px solid #2040FF;
    background: transparent;
    color: #2040FF;
}


.tm-button.tm-button-grn:hover, 
a.tm-button.tm-button-grn:hover, 
button.tm-button.tm-button-grn:hover {
    background: #68F29A;
    color: #000;
}

.tm-button.tm-button-blu:hover, 
a.tm-button.tm-button-blu:hover, 
button.tm-button.tm-button-blu:hover {
    background: #2040FF;
    color: #000;
}


.topview {
    background-color: rgba(255,255,255, 1);
    background-image: url(../images/tops.svg);
    display: flex;
    height: 64px;
    overflow: hidden;
    width: 100%;
}

.kFKEDN {
    background-color: rgba(200, 223, 255, 0.6);
    padding: 64px 0px;
}

.bottomview {
    background-color: rgba(255,255,255, 1);
    background-image: url(../images/bottoms.svg);
    display: flex;
    height: 64px;
    overflow: hidden;
    width: 100%;
}

.bg-blues {
    background-color: rgba(227,239,255, 1);
}

.tm-area-rewards{
    margin: 0px;
    overflow: hidden;
    padding: 0px;
}

.tm-padding-csection {
  padding-top: 40px;
  padding-bottom: 80px;
}


/*
 * ----------------------------------------------------------------------------------------
 * 07.START ROADMAP DESIGN
 * ----------------------------------------------------------------------------------------
*/
.roadmap_area {
	background: url(../img/bg/shapes-bg.png) no-repeat;
	background-size: cover;
	background-position: right center;
}
.timeline {position: relative;}
.timeline::after {
  content: '';
  position: absolute;
  width: 8px;
  background: #BC2216;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -8px;
}

.time_contain {
  padding: 10px 50px;
  position: relative;
  background-color: inherit;
  width: 50%;
}
.time_contain h2 {
	font-weight: 600;
	font-size: 28px;
	margin-bottom:0;
	line-height:1;
}
.time_contain p{ margin-bottom:0; margin-top:5px;}
.time_contain h2 span {
	color: #1652f0;
}
.time_contain::after {
	content: '';
	position: absolute;
	width: 32px;
	height: 32px;
	right: -11px;
	background-color: #BC2216;
	border: 8px solid rgba(255,255,255, 0.1);
	top: 15px;
	border-radius: 50%;
	z-index: 1;
}

.time_left {
  left: 0;
}

.time_right {
  left: 50%;
}

.time_left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 10px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width:20px 20px 0 0;
  border-color: rgba(255,255,255, 0.1) transparent transparent transparent;
}

.time_right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 10px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 0 20px 20px 0;
  border-color: transparent rgba(255,255,255, 0.1) transparent transparent;
}


.time_right::after {
  left: -19px;
}
.time_content {
	padding: 30px;
	background: #fff;
	position: relative;
	border-radius: 6px;
	box-shadow: 0 10px 40px -10px rgba(0,0,0,.1);
	border-radius: 3px;
}



 .tm-funfact {
	/*box-shadow: rgb(11 43 158 / 15%) 0px 6px 20px -6px;
    background: #fff;
    padding: 10px;
    background-color: rgba(8,8,8,.7);
    box-shadow: inset 1px 0 1px 1px #222;	*/
    background-color: rgba(31,31,31,.5);
    box-shadow: inset 1px 1px 1px 0 #414141;	
	border-radius:10px;
    padding:0;
    border:0;
}
 


.tm-funfact-header{ 
	padding:15px 35px;
	padding:0; 
	/*background: linear-gradient(to bottom, rgba(169,208,113,0),rgba(136,173,215,1));
background: rgb(2,0,36);
background: linear-gradient(0deg, rgba(17,21,29,.9) 0%, rgba(17,21,29,.9) 35%, rgba(17,21,29,.9) 100%);	*/ 
	/*background:#2040FF;
	border-radius:10px 10px 0 0 ;
	border-bottom:1px solid #38404e;*/
}

.odometer.odometer-auto-theme, 
.odometer.odometer-theme-default {
    font-family: 'Inter', sans-serif;
    line-height:1;
	position:relative;
	top:-3px;
}

.tm-funfact-header h4{ 
	margin:0; 
	padding:25px 35px;
	padding-bottom:0;
	color:#526AF9;
	font-size:28px;
	font-family: 'Inter', sans-serif;
	font-weight:700;
}

.tm-funfact-content{ padding:40px; padding-top:10px;}
.tm-funfact-content ul,
.tm-funfact-content ul li{ margin:0; padding:0; list-style-type:none; }
.tm-funfact-content ul{border-top:1px dashed #222; padding-top:10px; }
.tm-funfact-content ul li{ 
	border-bottom:1px dashed #222;
	display:block; padding:15px 0;
	color:#fff;
}
.introcontent{ padding-top:80px; }
.tm-funfact-content h5{ color:#fff; line-height: 20px; font-size:22px; font-weight:600;  }
.tm-screenshots-slider .tm-screenshots-single img{ 
	border:10px solid rgba(255,255,255, 1);
	box-shadow: rgb(11 43 158 / 35%)  2px 3px 23px 0px;
}


.bg-greeny{ background: #00E7A0; }
.time_content {
    padding: 15px;
	background: rgba(255,255,255, 0.1);
	border-radius: 10px 0 10px 10px;
}
.time_right .time_content { border-radius:0  10px 10px 10px; } 
.time_content_inner h2{ color:#fff; }
.time_content_inner{ 
	background: rgba(255,255,255, .03);
	padding:20px; 
	border-radius:10px;
	color:#fff; 
 }
 
.bg-orangey{ background:#FFAC00 }

#tm-area-faq .card-header{
    border-radius:5px;
}

#tm-area-faq .card-header button {
    border-radius:6px;
}

#tm-area-faq .card-body{
	background: rgba(255,255,255, 0.1);
	 border-radius:0 0 6px 6px;
	padding: 15px;
}

.tm-accordion .card-header button {
    background: rgba(255,255,255, 0.1);
	color: #ffffff; 
}

#tm-area-faq .card-header button:not(.collapsed) {
	border-radius:6px 6px 0 0;
	background: rgba(255,255,255, 0.1);
   /*background: -webkit-linear-gradient(-90deg, #1976D2 0%, #03A9F4 100%);
    background: -moz-linear-gradient(-90deg, #1976D2 0%, #03A9F4 100%);
    background: -ms-linear-gradient(-90deg, #1976D2 0%, #03A9F4 100%);
    background: -o-linear-gradient(-90deg, #1976D2 0%, #03A9F4 100%);
    background: -webkit-gradient(linear, right top, left top, from(#1976D2), to(#03A9F4));
    background: -webkit-linear-gradient(right, #1976D2 0%, #03A9F4 100%);
    background: -o-linear-gradient(right, #1976D2 0%, #03A9F4 100%);
    background: linear-gradient(-90deg, #333 0%, #000 100%);
    background-color: #ffffff14;*/



    color: #ffffff; 
}
#tm-area-faq .card-body .card-body-inner{ background:#fff; padding:30px; border-radius:6px; }
#tm-area-faq .card-body .card-body-inner p:last-child{ margin-bottom:0; }

#tm-area-faq .card-header button::before {
    border-radius: 6px;
	background: rgba(255,255,255, 0.1);
	/*background: rgba(255,255,255, 0.2);
    background: -webkit-linear-gradient(90deg, #FFE544 0%, #FFAC00 100%);
    background: -moz-linear-gradient(90deg, #FFE544 0%, #FFAC00 100%);
    background: -ms-linear-gradient(90deg, #FFE544 0%, #FFAC00 100%);
    background: -o-linear-gradient(90deg, #FFE544 0%, #FFAC00 100%);
    background: -webkit-gradient(linear, left top, right top, from(#FFE544), to(#FFAC00));
    background: -webkit-linear-gradient(left, #FFE544 0%, #FFAC00 100%);
    background: -o-linear-gradient(left, #FFE544 0%, #FFAC00 100%);
    background: linear-gradient(90deg, #FFE544 0%, #FFAC00 100%);*/
    -webkit-transition: all 0.2s ease-in-out 0s;
    -o-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
}

#tm-area-faq  .card-header button:not(.collapsed):before {
    color: #fff;
}

.tm-txtitle h2 {
	position:relative;
	text-transform:uppercase;
	line-height:1;
	margin-bottom:0;
	font-size:42px;
}
.tm-txtitle h2 span{ display:inline-block; position:relative; top:10px;}
.tm-txtitle h2:before {
    height: auto;
    color: #042F4B;
    font-size: 8rem;
    font-weight: 700;
    line-height: 1.15;
    content: attr(data-blurb);
    position: absolute;
    white-space: nowrap;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.05;
    z-index: 0;
    top: -40px;
    right: 0;
    left: 0;
}

/* decor */
.decory{ 
    display: flex;
   height: 20px;
    overflow: hidden;
    position: relative;
    width: 100%;
 }
 .roadmapbg{ background:#fff; }
 .faqsbg{ background:#F5F9FB; }
 
/*
* ----------------------------------------------------------------------------------------
* 16.START FOOTER DESIGN
* ----------------------------------------------------------------------------------------
*/
.footer {
	padding-bottom: 50px;
	padding-top: 80px;
	background:#000099
}
.footer_menu {
	margin-bottom: 20px;
}
.footer_menu ul {
	list-style: none;
	text-align: center;
}
.footer_menu ul li{display: inline-block;}
.footer_menu ul li a {
	color:#fff;
	padding: 0 10px;
	position: relative;
	-webkit-transition: 0.3s;
	transition: 0.3s;
}
.footer_menu ul li a:hover{color:#ffaa17;text-decoration:underline;}

/*START FOOTER SOCIAL DESIGN*/
.footer_profile{margin-bottom:0;}
.footer_profile ul{
list-style: outside none none;
margin: 0;
padding: 0
}
.footer_profile ul li{
display: inline-block;
}



.footer_profile ul li a {
	background: rgba(255,255,255, 0.2);
	width: 52px;
	height: 52px;
	display: block;
	text-align: center;
	position: relative;
	margin-right: 5px;
	border-radius: 100%;
	line-height: 52px;
	box-sizing: border-box;
	text-decoration: none;
	-webkit-transition: .3s;
	transition: .3s;
	color: #fff;
}
.footer_profile ul li a:hover{background: rgba(255,255,255, 0.6);}
/*END FOOTER SOCIAL DESIGN*/
.footer_copyright {
	margin-bottom:0;
	margin-top:10px;
	position: relative;
	font-size: 18px;
	color: #fff;
}
.footer_copyright p{ margin:0; }
.footer_profile ul li a i{ font-size:22px; position:relative; top:3px;}
.footr{ padding:85px 0; }

.bg-footers { background:#2040FF;}

 
.home-wavy-edge {
    position: absolute;
    /*top: -14px;*/
    width: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.home-wavy-edge__inner {
    min-width: 2000px;
    width: 2000px;
    height: 20px;
	
}

.home-wavy-edge__inner svg {
    display: block;
}

.home-wavy-edge__inner svg path {
    fill: #00E4A1;
}

.home-wavy-edge--rankings svg path {
    fill: #FFAC00;
}

.foobgs{ /*border:1px solid #000;*/ position:relative; }
.footrrbg{ position:absolute; width:100%; height:100%; left:0; right:0; bottom:0; top:0; background-color:#FFAC00; }
.footrrbg1{
    background-image: url(../images/footbg.svg);
    display: flex;
    height: 64px;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.footrrbg3{
    display: flex;
    height: 20px;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.home-wavy-edge--footr {
    top: 5px;
}

.home-wavy-edge--footr .home-wavy-edge__inner {
    min-width: 6000px;
    width: 6000px;
    height: 60px;
	/*border:1px solid #000;*/
}

.home-wavy-edge__inner svg {
    display: block;
}

.home-wavy-edge--footr svg path {
    fill: /*#2040FF;*/ rgba(95,98,184, 0.3);
}
.footrrbgx,
.home-wavy-edge--footrlast{}
.home-wavy-edge--footrlast svg path {
    fill: #2040FF;
}

.footrrbgx{ 
	position:absolute;
	width:100%; 
	height:20px; 
	bottom:0; 
	left:0;  
	z-index:10; 
}

.window-frame1 {
background:#000;

   /* width:;
	po
    padding-bottom: 60%;
    border-radius: 15px;
    background-color: rgba(17,21,29,.9);
    box-shadow: inset 1px 1px 1px 0 #38404e;
	overflow: auto;*/
}

.window-frame-inner {
    /*width: 100%;
    padding-bottom: 60%;*/
    border-radius: 15px;
	padding:60px;
    background-color: rgba(31,31,31,.8);
    box-shadow: inset 1px 1px 1px 0 #414141;
}


.hero-window-glow {
    position: absolute;
    left: 50%;
    top: 0;
    right: 0;
    bottom: auto;
    z-index: 9;
    width: 60%;
    height: 2px;
    margin-left: -30%;
    background-image: radial-gradient(circle farthest-corner at 50% 50%,#1581df,rgba(37,98,221,.87) 11%,rgba(137,19,221,.14) 74%,rgba(19,221,136,0) 104%);
}

.hero-window-glow-red {
    background-image: radial-gradient(circle farthest-corner at 50% 50%,#BC2216,rgba(188,34,22,.87) 11%,rgba(188,34,22,.14) 74%,rgba(19,221,136,0) 104%);
}

.hero-window-glow-yellow {
    background-image: radial-gradient(circle farthest-corner at 50% 50%,#FFAC00,rgba(255,172,0,.87) 11%,rgba(255,172,0,.14) 74%,rgba(19,221,136,0) 104%);
}

.hero-window-glow-green {
    background-image: radial-gradient(circle farthest-corner at 50% 50%,#0BDA51,rgba(104,242,154,.87) 11%,rgba(104,242,154,.14) 74%,rgba(19,221,136,0) 104%);
}

.hero-window-glow-grey {
    background-image: radial-gradient(circle farthest-corner at 50% 50%,#333,rgba(61,61,61,.87) 11%,rgba(61,61,61,.14) 74%,rgba(19,221,136,0) 104%);
}

.stack-wireframes {
    position: absolute;
    left: 50%;
    top: 0;
    right: auto;
    bottom: auto;
    z-index: 0;
    display: block;
    width: 100%;
    height: 100%;
    -webkit-transform: translate(-50%,0);
    -ms-transform: translate(-50%,0);
    transform: translate(-50%,0);
}

.stack-wireframes img {
    max-width: 100%;
    vertical-align: middle;
    display: block;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.stack-wireframes .image-19 {
    position: absolute;
    left: 50%;
    top: 67%;
    right: auto;
    bottom: auto;
    z-index: 2;
    display: none;
    max-width: 1500px;
    opacity: 1;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    -o-object-fit: none;
    object-fit: none;
}

.div-block-23 {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    padding-top: 100px;
    padding-bottom: 100px;
}

.image-32 {

    max-width: 100%;
    vertical-align: middle;
    display: block;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
	
	
    position: absolute;
    top: -50%;
    right: -40%;
    z-index: -1;
    height: 180%;
    opacity: .6;
    -o-object-fit: contain;
    object-fit: contain;
}

.overlay-text { margin-left:-200px;
  /*font-size:3.5vw;
  float:right;
  width:65%; 
  bottom:21vw; 
  padding: 25px;
  background:#f7f7f7;
  border:1px solid #fff;*/
}

.text-color-light{ color:#fff; }

.clipping-text{
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
}
.custom-headings{ /*padding:20px 0 40px 0;*/ }
.gradient-heading-1 {
 font-size: 72px;
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.texty {
  text-transform: uppercase;
  /*background: linear-gradient(to right, #30CFD0 0%, #330867 100%);*/
  
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 54px;
  font-weight:700;
  padding-bottom:30px;
}

.gradient-heading-1 {  
	background-image: radial-gradient(circle farthest-corner at 0 100%,#ffcaca,#5d4fff);
}

.gradient-heading-red {  
	background-image: radial-gradient(circle farthest-corner at 40% 100%,#BC2216,#ffcaca);
}

.gradient-heading-yellow {  
	background-image: radial-gradient(circle farthest-corner at 40% 100%,#FFAC00,#FFE9A0);
}

.gradient-heading-blue {  
	background-image: radial-gradient(circle farthest-corner at 40% 100%,#2040FF,#4CE6FF);
}

.gradient-heading-green {  
	background-image: radial-gradient(circle farthest-corner at 40% 100%,#0BDA51,#68F29A);
}

.gradient-heading-grey {  
	background-image: radial-gradient(circle farthest-corner at 40% 100%,#333,#bbb);
}

.rewardsbg{ background:url(../images/bg01.jpg) bottom center no-repeat; }
.bgdark{ background:#000; }

.gradybg {background: linear-gradient(97.43deg, #000 0%, #111 100%); }

.tm-screenshots{

      mask-image: linear-gradient(transparent,
          black 20%,
          black 80%,
          transparent 100%);
      -webkit-mask-image: linear-gradient( to right,transparent,
          black 20%,
          black 80%,
          transparent 100%);
		  z-index:10;
          
    }

.blackybg{ background:#000; }
.tm-team-content h4 { color:#fff; }
.tm-team-imageinner::before { background:#111; }
#bubbles { position:absolute; top:0; left:0; height:100%; width:100%; overflow:hidden; }
.bubble {
    width: 60px;
    height: 60px;
    background: none;
    border-radius: 200px;
    -moz-border-radius: 200px;
    -webkit-border-radius: 200px;
    position: absolute;
}

.x1 {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    transform: scale(0.9);
    opacity: 0.2;
    -webkit-animation: moveclouds 15s linear infinite, sideWays 4s ease-in-out infinite alternate;
    -moz-animation: moveclouds 15s linear infinite, sideWays 4s ease-in-out infinite alternate;
    -o-animation: moveclouds 15s linear infinite, sideWays 4s ease-in-out infinite alternate;
}

.x2 {
    left: 200px;
    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    transform: scale(0.6);
    opacity: 0.5;
    -webkit-animation: moveclouds 25s linear infinite, sideWays 5s ease-in-out infinite alternate;
    -moz-animation: moveclouds 25s linear infinite, sideWays 5s ease-in-out infinite alternate;
    -o-animation: moveclouds 25s linear infinite, sideWays 5s ease-in-out infinite alternate;
}
.x3 {
    left: 350px;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0.3;
    -webkit-animation: moveclouds 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
    -moz-animation: moveclouds 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
    -o-animation: moveclouds 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
}
.x4 {
    left: 470px;
    -webkit-transform: scale(0.75);
    -moz-transform: scale(0.75);
    transform: scale(0.75);
    opacity: 0.35;
    -webkit-animation: moveclouds 18s linear infinite, sideWays 2s ease-in-out infinite alternate;
    -moz-animation: moveclouds 18s linear infinite, sideWays 2s ease-in-out infinite alternate;
    -o-animation: moveclouds 18s linear infinite, sideWays 2s ease-in-out infinite alternate;
}
.x5 {
    left: 150px;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0.3; 
    -webkit-animation: moveclouds 7s linear infinite, sideWays 1s ease-in-out infinite alternate;
    -moz-animation: moveclouds 7s linear infinite, sideWays 1s ease-in-out infinite alternate;
    -o-animation: moveclouds 7s linear infinite, sideWays 1s ease-in-out infinite alternate;
}
@-webkit-keyframes moveclouds { 
    0% { 
        top: 500px;
    }
    100% { 
        top: -500px;
    }
}

@-webkit-keyframes sideWays { 
    0% { 
        margin-left:0px;
    }
    100% { 
        margin-left:50px;
    }
}

@-moz-keyframes moveclouds {     
    0% { 
        top: 500px;
    }

    100% { 
        top: -500px;
    }
}

@-moz-keyframes sideWays {
    0% {
        margin-left:0px;
    }
    100% {
        margin-left:50px;
    }
}
@-o-keyframes moveclouds {
    0% { 
        top: 500px;
    }
    100% { 
        top: -500px;
    }
}

@-o-keyframes sideWays {
    0% {
        margin-left:0px;
    }
    100% {
        margin-left:50px;
    }
}

.pushead,
.spacehead,
.padspace{ display: none; } 

@media (max-width: 980px){
	.tm-txtitle h2 {
		font-size: 30px;
	}
	.tm-txtitle h2:before {
		font-size: 4rem;
		top: -15px;
	}
	
	.overlay-text { 
		margin-left:0;
	}
	
.tm-screenshots{

      mask-image: none;
      -webkit-mask-image:none;
		  z-index:10;
          
    }	
	
	
	

  .timeline::after {
    left: 31px;
  }
  .time_contain {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }
  .time_contain::before {
    left: 50px;
  border: medium solid white;
  border-width: 0 20px 20px 0;
  border-color: transparent rgba(255,255,255, 0.1) transparent transparent;	
  }
  
  .time_left::after, .time_right::after {
    left: 15px;
  }
  
  .time_right {
    left: 0%;
  }
  
.time_content,
.time_right .time_content { border-radius:0  10px 10px 10px; } 

.tm-heroslider-content {
    padding: 20px 0;
}

.tm-padding-section {
    padding-top: 30px;
    padding-bottom: 30px;
}

.tm-funfact-wrapper .tm-funfact-masonryitem .tm-funfact {
    margin-top: 10px;
}

	.texty {
	  font-size: 34px;
	  padding-bottom:0;
	  line-height: normal;
	  margin:0;
	}
	
.tm-funfact-wrapper {
    margin-top: 10px;
}

.tm-funfact-header h4 {
    padding: 15px 35px;
	padding-bottom:0;
    font-size: 30px;
}

.tm-funfact-content {
    padding: 20px;
    padding-top: 10px;
}

.pushead{ height:30px; display:block; }	
.spacehead{height:20px; display:block;} 
.padspace{ padding-bottom:40px; display:block; } 

.window-frame-inner {
    padding:25px;
}

}

@media only screen and (max-width:480px) { 
.footer_profile ul li{margin:2px;}
}

